@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body{

   background: #000;
   color:bisque;
   font-family: 'Oswald', sans-serif;
   max-width: 100vw;
   height: 1300vh;

}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}