.Article{
    background-color:darkslategray;

}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows:    1fr 1fr 1fr ;
    gap: 0px 0px ; 
    grid-template-areas: 
    ". .  . . "
    ".   CardImgP  CardImgS1 CardImgS2"
    ".   CardImgP  CardImgS3 CardImgS4"
    " .   MCcard    MCcard    .   "
    ;
}
.imgPT{
    width: 800px;
    height: 450px;
    border-radius: 3px;
}

.imgST{
    image-rendering: optimizeQuality;
    width: 300px;
    height: 230px;
    border-radius: 3px;
    margin-left: 20px;

}

.CardImgP{
    grid-area: CardImgP;
    transition: 0.5s;

}

.CardImgP:hover{
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
    border-radius: 10px;
}

.CardImgS1{
    grid-area: CardImgS1;
    transition: 0.5s;
}

.CardImgS1:hover{
    transition: 0.5s;
    opacity: 0.5;
    cursor: pointer;
    border-radius: 10px;
}


.CardImgS2{
    grid-area: CardImgS2;
    transition: 0.5s;
}

.CardImgS2:hover{
    transition: 0.5s;
    opacity: 0.5;
    cursor: pointer;
    border-radius: 10px;
}

.CardImgS3{
    grid-area: CardImgS3;
    transition: 0.5s;
}

.CardImgS3:hover{
    transition: 0.5s;
    opacity: 0.5;
    cursor: pointer;
    border-radius: 10px;
}

.CardImgS4{
    grid-area: CardImgS4;
    transition: 0.5s;
}

.CardImgS4:hover{
    transition: 0.5s;
    opacity: 0.5;
    cursor: pointer;
    border-radius: 10px;
}

.MCcard{
    grid-area: MCcard;
    align-self: start;
    justify-self: center;
}
.MCcardButton{
    grid-gap: 1em;
    overflow: hidden;
    width: 55em;
  

}  
.MCcardButton > .inner {

      grid-gap: 1em;
      transition: all 1s ease-in-out;
    }